streamlit
openai
pymongo
langchain_mongodb
langchain_community
langchain
langchain_openai
#to remove once we convert to openai embeddings
langchain-nomic
datasets
ragas
nest_asyncio
colorama
# next ones are only used to import data form gsheet to huggingface
gspread 
oauth2client 
dotenv